.Bar-container {
  display: flex;
  text-align: center;
  background-color: #fff; }
  .Bar-container .half {
    display: flex;
    text-align: center;
    flex: 1; }
    .Bar-container .half.space-between {
      justify-content: space-between; }
  .Bar-container .github {
    background-image: url(/images/GitHub-Mark-120px-plus.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: block;
    align-self: center;
    margin-right: 20px; }

.Button-container {
  padding: 0 10px;
  border-right: 1px solid gray;
  width: 50px;
  min-height: 44px;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center; }
  .Button-container:hover {
    background-color: #f3f3f3;
    cursor: pointer; }
  .Button-container i {
    animation-duration: 4s; }

.Divider-container {
  width: 10px;
  background-color: #f3f3f3;
  border-right: 1px solid gray; }
