.Code-container {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .Code-container .row {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 10px;
    background-color: #272822;
    height: 93%;
    box-sizing: border-box; }
  .Code-container .column {
    display: flex;
    flex-direction: column;
    flex: 1; }
  .Code-container .aceContainer {
    flex: 1; }
  .Code-container button.equal {
    position: absolute;
    bottom: 4px;
    right: 5px;
    width: 50px;
    height: 30px;
    border: none;
    background-color: #333;
    color: #ddd;
    z-index: 999;
    font-size: 20px;
    cursor: pointer; }
    .Code-container button.equal:hover {
      background-color: #444; }
