.Code-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding-top: 10px;
        background-color: #272822;
        height: 93%;
        box-sizing: border-box;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .aceContainer {
        flex: 1;
    }

    button.equal, button.delete {
        position: absolute;
        bottom: 4px;
        right: 5px;
        width: 50px;
        height: 30px;
        border: none;
        background-color: #333;
        color: #ddd;
        z-index: 999;
        font-size:20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #444;
        }
    }

    button.delete {
        right:65px;

        i {
            font-size:18px;
            color:#666;
        }

        &:hover {
            i {
                color:#ccc;
            }
        }
    }
}
