.App-container {
    height: 100%;

    .method-name {
        position: fixed;
        bottom: 0;
        left: 27%;
        width: 200px;
        margin-left: -100px;
        line-height: 30px;
        height: 30px;
        border-radius: 8px 8px 0 0;
        background-color: #272822;
        color: #ccc;
        z-index: 99;
        text-align: center;
    }

    .version {
        position: fixed;
        top: 0;
        right: 0;
        font-size: 8px;
        color: #ddd;
        padding: 3px;
    }

    .offline {
        position: fixed;
        bottom: 10px;
        left: 10px;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.4);
        color: white;
        z-index: 999;
        cursor: pointer;

        &.on {
            background-color: greenyellow;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
