.App-container {
  height:100%;

  .method-name {
    position: fixed;
    bottom:0;
    left:27%;
    width:200px;
    margin-left:-100px;
    line-height: 30px;
    height: 30px;
    border-radius:8px 8px 0 0;
    background-color:#272822;
    color:#ccc;
    z-index: 99;
    text-align: center;
  }

  .version {
    position:fixed;
    top:0;
    right:0;
    font-size:8px;
    color:#ddd;
    padding:3px;
  }

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}