.Runner-container {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .Runner-container .row {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 10px;
    background-color: #272822;
    height: 93%;
    box-sizing: border-box; }
  .Runner-container .column {
    display: flex;
    flex-direction: column;
    flex: 1; }
  .Runner-container .aceContainer {
    flex: 1; }
