.Tester-container {
    display: flex;
    border-left: 1px solid gray;
    border-bottom: 1px solid #ccc;

    .tests {
        display: flex;
        overflow: hidden;
        max-width: 510px;
        flex-wrap: nowrap;
    }

    .box {
        min-width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid gray;
        cursor: pointer;
        position: relative;
        color: #ccc;

        .popoi {
            position: absolute;
            bottom: 3px;
            right: 3px;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background-color: #ddd;
            border: 1px solid #ddd;
        }

        .dirty-popoi {
            position: absolute;
            bottom: 7px;
            left: 3px;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background-color: transparent;
            font-size: 12px;
            color: gray;
            display: none;
        }

        &:hover {
            background-color: #eee;
        }

        &.active {
            color: #333;
        }

        &.selected {
            background-color: lighten(#aba, 20%);

            &.active {
                background-color: #aba;
            }
        }

        &.ok {
            .popoi {
                background-color: green;
            }
        }

        &.failing {
            .popoi {
                background-color: red;
            }
        }

        &.dirty {
            .dirty-popoi {
                display: block;
            }
        }
    }
}
